:root {
  --primary-text-color: #eee;
  --background-color: linear-gradient(0deg, rgb(6, 5, 21) 50%, rgb(86, 0, 167) 120%);
  --overlay-color: #9c4bfe;
  --primary-font-family: "K2D-Regular";
  --spacing-small: 8px;
  --spacing-main: 16px;
  --spacing-large: 36px;
}

header {
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: var(--spacing-small);
  position: relative;
  z-index: 100;
}

.nav-container {
  margin: 0;
}

.main-menu {
  cursor: pointer;
  display: none;
  top: 100%;
  left: 0;
  background-color: rgba(6, 5, 21, 0.9);
  padding: var(--spacing-small);
  position: absolute;
  z-index: 1000;
}

.main-menu > div.with-arrow {
  margin: 0;
  padding: 4px;
  position: relative;
}

.submenu > div.with-arrow,
.submenu-2 > div.with-arrow,
.submenu-3 > div.with-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.main-menu > div.with-arrow:hover {
  background-color: var(--overlay-color);
}

.with-arrow.active .submenu-2,
.with-arrow.active .submenu-2.active {
  display: flex;
}

div.submenu,
div.submenu-2,
div.submenu-3 {
  position: relative;
  top: 0;
  left: 100%;
  text-align: center;
  display: none;
  z-index: 120;
  max-height: 0;
  min-width: 120px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: var(--spacing-small);
  background-color: rgba(6, 5, 21, 0.9);
}

.hamburger-menu {
  height: 50px;
  width: 50px;
}

.logo-mobile {
  position: relative;
  height: 55px;
  width: 55px;
}

div {
  font-family: "K2D-Regular";
}

div a {
  color: #fff;
  font-family: "K2D-Regular";
}

div.with-arrow::before {
  content: "▶";
  margin-left: 5px;
  z-index: 200;
  padding: 5px;
}

div.with-arrow.active::before {
  content: "▼";
  margin-left: 5px;
  z-index: 200;
  padding: 5px;
}

.main-menu.active {
  display: flex;
}

@media screen and (max-width: 990px) {
  .main-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    z-index: 30;
  }

  .main-menu.active {
    display: flex;
    z-index: 45;
  }

  div.submenu.active,
  div.submenu-2.active,
  div.submenu-3.active,
  .portal-submenu.active,
  .team-submenu.active,
  .location-submenu.active {
    display: block !important;
  }

  .main-menu p {
    padding: 10px;
    width: 100%;
  }

  .main-menu .submenu,
  .main-menu .submenu-2,
  .main-menu .submenu-3 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    padding-left: 20px;
    z-index: 120;
  }

  .main-menu .with-arrow:hover .submenu,
  .main-menu .with-arrow:hover .submenu-2,
  .main-menu .with-arrow:hover .submenu-3 {
    max-height: 200px;
  }

  .hamburger-menu {
    display: block;
  }

  .logo-mobile {
    display: none;
  }
}
